<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Request Data</title>
		<meta name="viewport" content="width=device-width, initial-scale=2.0" />
		<meta name="author" content="Tim Riker" />
		<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
		<script src="//code.jquery.com/jquery-3.3.1.js"></script>
		<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
		<script src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
		<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script src="//cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		<style>
			table.dataTable td {
				word-break: break-all;
			}
			.dataTables_wrapper {
				width: 94%;
				padding-left: 3%;
			}
			th {
				text-align: left;
			}
			h1 {
				text-align: center;
			}
			.center {
				text-align: center;
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 50%;
			}
			a {
				color: inherit;
			}
			a:link, a:visited, ins {
				text-decoration: none;
			}
			a:hover, a:active {
				text-decoration: underline;
			}
			#PFheadSpace {
				border-bottom: 4px solid;
				border-image: linear-gradient(0deg,#e0e2e2,#fff) 0 0 100% 0;
			}
			#PFlogo {
				text-align: center;
			}
			#PFprefBox {
				position: absolute;
				right: 3%;
				justify-content: center;
				height: 80px;
				flex-direction: column;
				display: flex;
			}
			#prefBoxLinks, #prefBoxLinks a {
				font-size: 13px;
				font-family: Open Sans,Zoram,noto sans,Helvetica,Arial,system-ui,-apple-system!important;
				color:rgb(33, 34, 37);
				list-style: none;
				padding-left: 0px;
			}
			#prefBoxLinks li {
				margin: 8px;
			}
			.dataTables_wrapper .dataTables_filter {
				float: left;
				text-align: right;
				padding-right: 4px;
			}
			.dataTables_wrapper .dataTables_info {
				padding-top: 0px;
				padding-right: 4px;
			}
			.buttons-columnVisibility {
				background-color: pink;
			}
			.buttons-columnVisibility.active {
				background-color: lightgreen;
			}
		</style>
		<script class="init">
			var siteData = {};
			function LoadHash() {
				if (window.location.href.indexOf('#') >= 0) {
					var vars = {};
					var hashes = window.location.href.slice(window.location.href.indexOf('#') + 1).split('&');
					for (var i = 0; i < hashes.length; i++) {
						hash = hashes[i].split('=');
						vars[hash[0]] = hash[1];
					}
					for (var key in vars) {
						if (key == 'q') {
							siteData.table.search(vars[key]);
						}
						if (/^c\([0-9]\)*$/.key) {
							colnum = key.replace(/[^0-9]*/g,'');
							siteData.table.col(colnum).search(vars[key]);
						}
					}
					$('#data tfoot th input').each( function (colnum) {
						this.value = siteData.table.column(colnum).search();
					});
				}
			};
			function UpdateHash(table) {
				var parameters = [];
				var search = table.search();
				if (search && search != '') {
					parameters.push('q='+search);
				}
				table.columns().every( function () {
					var search = this.search();
					if (search && search != '') {
						parameters.push('c'+this.index()+'='+search);
					}
				} );
				window.location.hash = parameters.join("&");
			};
			$(function() {
				// Setup - add a text input to each footer cell
				$('#data tfoot th').each( function () {
					var title = $(this).text();
					$(this).html( '<input type="text" style="width: 100%" placeholder="Search '+title+'" />' );
				} );
				siteData.table = $('#data').DataTable({
					"autoWidth": false,
					"buttons": [
						{
							"text": 'Reset',
							"action": function ( e, dt, node, config ) {
								dt.search('').columns().search('').draw();
							}
						},
						{
							"extend": "columnsToggle",
						},
						{
							"extend": 'copy'
						},
						{
							"extend": 'print'
						},
						{
							"extend": 'csv',
							"title": 'requestdata'
						},
						{
							"text": 'Reload',
							"action": function ( e, dt, node, config ) {
								location.reload();
							}
						}
					],
					"columns": [
						{ "data": "type", "width":"5%" },
						{ "data": "name", "width":"20%" },
						{ "data": "value", "width":"75%" }
					],
					"dom": 'fBrtilp',
					"pageLength": 100,
					"stateSave" : true,
				});
				siteData.table.on('draw', function () {
					UpdateHash(siteData.table);
				});
				siteData.table.columns().every( function () {
					var that = this;

					$( 'input', this.footer() ).on( 'keyup change clear', function () {
						if ( that.search() !== this.value ) {
							that
								.search( this.value )
								.draw();
						}
					});
				});
				LoadHash();
			});
		</script>
	</head>
	<body>
		<div id="PFheadSpace">
			<div id="PFprefBox">
				<ul id="prefBoxLinks">
					<li><a href="?signmein">Sign In</a></li>
					<li><a href="?signmeout">Sign Out</a></li>
					<li><a href="<%= reply.links.relreflect %>">reflect</a></li>
				</ul>
			</div>
			<div id="PFlogo">
				<a class="PFhomeLink" href="https://www.churchofjesuschrist.org?lang=eng" title="The Church of Jesus Christ of Latter-day Saints">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="174px" height="80px" viewBox="0 0 174 80" enable-background="new 0 0 174 80" xml:space="preserve">
						<rect fill="none" width="174" height="80"></rect>
						<g>
							<path d="M49.748,21.579c0,0.018-0.243,0.018-0.243-0.02c0-0.263-0.057-0.525-0.188-0.676c-0.208-0.188-0.489-0.338-1.617-0.338 c-0.226,0-0.355,0.019-0.45,0.019c-0.038,0.112-0.057,0.507-0.057,1.146v2.405c0,1.841,0.095,2.067,0.226,2.124 c0.133,0.074,0.394,0.131,0.808,0.168c0.037,0.02,0.037,0.244,0,0.244c-0.487,0-2.479,0-2.969,0c-0.037,0-0.037-0.225,0-0.244 c0.413-0.037,0.677-0.094,0.808-0.168c0.133-0.057,0.208-0.283,0.208-2.124V21.71c0-0.639,0-1.033-0.039-1.146 c-0.094,0-0.281-0.019-0.507-0.019c-1.071,0-1.371,0.112-1.615,0.338c-0.169,0.15-0.264,0.451-0.32,0.695 c0,0.037-0.243,0-0.243-0.037c0.057-0.508,0.112-1.109,0.149-1.467c0-0.018,0.02-0.037,0.057-0.037 c0.376,0.057,1.184,0.113,2.987,0.113c2.48,0,2.857-0.057,3.044-0.133c0.039,0,0.057,0.02,0.057,0.039 C49.843,20.452,49.825,21.034,49.748,21.579z"></path>
							<path d="M55.347,26.651c-0.038,0-0.038-0.225,0-0.244c0.413-0.037,0.582-0.094,0.713-0.168c0.133-0.057,0.226-0.283,0.226-2.124 v-0.601H52.51v0.601c0,1.841,0.093,2.067,0.226,2.124c0.131,0.074,0.3,0.131,0.713,0.168c0.038,0.02,0.038,0.244,0.02,0.244 c-0.509,0-2.331,0-2.818,0c-0.02,0-0.038-0.225,0.019-0.244c0.412-0.037,0.582-0.094,0.714-0.168 c0.131-0.057,0.206-0.283,0.206-2.124v-1.466c0-1.842-0.075-2.066-0.206-2.123c-0.132-0.074-0.302-0.131-0.714-0.188 c-0.057,0-0.038-0.227-0.019-0.227c0.487,0,2.31,0,2.818,0c0.019,0,0.019,0.227-0.02,0.227c-0.413,0.057-0.582,0.113-0.713,0.188 c-0.133,0.057-0.226,0.281-0.226,2.123v0.451h3.775v-0.451c0-1.842-0.093-2.066-0.226-2.123c-0.131-0.074-0.3-0.131-0.713-0.188 c-0.038,0-0.038-0.227,0-0.227c0.487,0,2.31,0,2.798,0c0.039,0,0.039,0.227-0.018,0.227c-0.395,0.057-0.582,0.113-0.715,0.188 c-0.112,0.057-0.207,0.281-0.207,2.123v1.466c0,1.841,0.095,2.067,0.207,2.124c0.133,0.074,0.32,0.131,0.715,0.168 c0.057,0.02,0.057,0.244,0.018,0.244C57.656,26.651,55.834,26.651,55.347,26.651z"></path>
							<path d="M63.649,26.482c-0.074,0.112-0.131,0.188-0.395,0.188c-0.638,0-1.39-0.037-2.255-0.037c-0.675,0-1.09,0-1.822,0.018 c-0.036,0-0.036-0.225,0-0.244c0.413-0.037,0.603-0.094,0.715-0.168c0.131-0.057,0.226-0.283,0.226-2.124v-1.466 c0-1.842-0.095-2.066-0.226-2.123c-0.112-0.074-0.302-0.131-0.715-0.188c-0.036,0-0.036-0.227,0-0.227 c0.81,0.02,2.086,0.02,2.763,0.02c0.863,0,1.353-0.02,1.653-0.037c0.056-0.02,0.074,0.018,0.074,0.037 c-0.036,0.338-0.057,0.826-0.111,1.354c-0.02,0.057-0.264,0.037-0.264-0.02c0-0.263-0.056-0.508-0.207-0.676 c-0.17-0.17-0.469-0.264-1.202-0.264c-0.413,0-0.694,0.02-0.808,0.02c-0.038,0.112-0.038,0.45-0.038,1.09v1.408h0.771 c0.995,0,1.128-0.225,1.185-0.582c0.018-0.037,0.262-0.037,0.262,0c-0.018,0.281-0.056,1.484-0.056,1.747 c0,0.038-0.263,0.038-0.263,0c0-0.188-0.038-0.45-0.15-0.544c-0.095-0.076-0.244-0.189-0.997-0.189h-0.751v0.64 c0,1.222,0.095,1.784,0.226,1.935c0.131,0.113,0.264,0.189,0.884,0.189c0.639,0,0.994-0.15,1.184-0.357 c0.149-0.15,0.263-0.357,0.337-0.695c0.021-0.057,0.207,0,0.188,0.037C63.818,25.75,63.726,26.333,63.649,26.482z"></path>
							<path d="M74.206,26.276c-0.131,0.188-0.828,0.469-2.066,0.469c-2.143,0-3.721-1.465-3.721-3.287c0-1.729,1.391-3.439,3.701-3.439 c1.184,0,1.785,0.377,2.16,0.301c0.037-0.018,0.057,0.02,0.057,0.038c0.02,0.356,0.037,0.901,0.037,1.446 c0,0.057-0.262,0.038-0.262-0.018c-0.02-0.264-0.189-0.602-0.395-0.809c-0.377-0.357-0.996-0.582-1.711-0.582 c-1.879,0-2.555,1.334-2.555,2.78c0,1.634,1.053,3.157,2.705,3.157c0.771,0,1.277-0.133,1.635-0.546 c0.207-0.263,0.338-0.582,0.432-0.882c0.02-0.057,0.246,0,0.246,0.037C74.431,25.468,74.3,26.144,74.206,26.276z"></path>
							<path d="M80.499,26.651c-0.037,0-0.037-0.225,0-0.244c0.412-0.037,0.582-0.094,0.713-0.168c0.133-0.057,0.227-0.283,0.227-2.124 v-0.601h-3.777v0.601c0,1.841,0.094,2.067,0.227,2.124c0.131,0.074,0.301,0.131,0.713,0.168c0.037,0.02,0.037,0.244,0.02,0.244 c-0.508,0-2.33,0-2.818,0c-0.02,0-0.037-0.225,0.018-0.244c0.414-0.037,0.584-0.094,0.715-0.168 c0.131-0.057,0.207-0.283,0.207-2.124v-1.466c0-1.842-0.076-2.066-0.207-2.123c-0.131-0.074-0.301-0.131-0.715-0.188 c-0.055,0-0.037-0.227-0.018-0.227c0.488,0,2.311,0,2.818,0c0.018,0,0.018,0.227-0.02,0.227c-0.412,0.057-0.582,0.113-0.713,0.188 c-0.133,0.057-0.227,0.281-0.227,2.123v0.451h3.777v-0.451c0-1.842-0.094-2.066-0.227-2.123c-0.131-0.074-0.301-0.131-0.713-0.188 c-0.037,0-0.037-0.227,0-0.227c0.488,0,2.311,0,2.799,0c0.037,0,0.037,0.227-0.018,0.227c-0.395,0.057-0.584,0.113-0.715,0.188 c-0.113,0.057-0.207,0.281-0.207,2.123v1.466c0,1.841,0.094,2.067,0.207,2.124c0.131,0.074,0.32,0.131,0.715,0.168 c0.055,0.02,0.055,0.244,0.018,0.244C82.81,26.651,80.987,26.651,80.499,26.651z"></path>
							<path d="M90.663,20.546c-0.094,0.074-0.188,0.262-0.188,2.104v1.691c0,1.203-1.016,2.404-2.65,2.404 c-1.615,0-2.742-1.07-2.742-2.387v-1.709c0-1.842-0.094-2.066-0.227-2.123c-0.131-0.074-0.301-0.131-0.713-0.188 c-0.039,0-0.039-0.227,0-0.227c0.488,0,2.367,0,2.855,0c0.018,0,0.037,0.227-0.02,0.227c-0.395,0.057-0.619,0.113-0.752,0.188 c-0.131,0.057-0.225,0.281-0.225,2.123v1.447c0,1.258,0.77,2.066,2.066,2.066c1.277,0,1.879-0.826,1.879-1.954v-1.56 c0-1.842-0.094-2.029-0.188-2.104c-0.113-0.094-0.357-0.15-0.77-0.207c-0.039,0-0.02-0.227,0-0.227c0.506,0,1.896,0,2.385,0 c0.039,0,0.057,0.227,0,0.227C90.964,20.396,90.776,20.452,90.663,20.546z"></path>
							<path d="M98.628,26.634c-0.639,0-1.164-0.076-1.559-0.357c-0.544-0.338-1.109-0.996-1.936-2.368c-0.508,0.019-0.678,0-1.072-0.019 v0.226c0,1.841,0.097,2.067,0.227,2.124c0.131,0.074,0.451,0.131,0.902,0.168c0.038,0.02,0.038,0.244,0.018,0.244 c-0.488,0-2.518,0-3.006,0c-0.037,0-0.037-0.225,0.02-0.244c0.395-0.037,0.582-0.094,0.713-0.168 c0.113-0.057,0.207-0.283,0.207-2.124v-1.466c0-1.842-0.094-2.066-0.207-2.123c-0.131-0.074-0.318-0.131-0.713-0.188 c-0.057,0-0.057-0.227-0.02-0.227c0.471,0,1.016,0.02,1.408,0.02c0.378,0,0.791-0.02,1.26-0.02c1.561,0,2.443,0.828,2.443,1.654 c0,0.808-0.602,1.466-1.334,1.898c1.392,2.01,2.141,2.686,2.948,2.686c0.094,0,0.227,0,0.302,0 c0.036-0.018,0.074,0.227,0.057,0.227C99.06,26.614,98.871,26.634,98.628,26.634z M94.851,20.489 c-0.354,0-0.582,0.057-0.619,0.131c-0.073,0.076-0.17,0.695-0.17,2.029c0,0.602,0.04,0.678,0.097,0.732 c0.11,0.094,0.317,0.17,0.806,0.17c0.772,0,1.297-0.677,1.297-1.447C96.261,21.203,95.847,20.489,94.851,20.489z"></path>
							<path d="M104.827,26.276c-0.132,0.188-0.826,0.469-2.066,0.469c-2.143,0-3.722-1.465-3.722-3.287c0-1.729,1.392-3.439,3.702-3.439 c1.184,0,1.784,0.377,2.16,0.301c0.039-0.018,0.057,0.02,0.057,0.038c0.019,0.356,0.037,0.901,0.037,1.446 c0,0.057-0.262,0.038-0.262-0.018c-0.02-0.264-0.188-0.602-0.395-0.809c-0.378-0.357-0.997-0.582-1.711-0.582 c-1.88,0-2.556,1.334-2.556,2.78c0,1.634,1.053,3.157,2.705,3.157c0.772,0,1.278-0.133,1.635-0.546 c0.208-0.263,0.338-0.582,0.432-0.882c0.02-0.057,0.244,0,0.244,0.037C105.052,25.468,104.92,26.144,104.827,26.276z"></path>
							<path d="M111.044,26.651c-0.038,0-0.038-0.225,0-0.244c0.413-0.037,0.583-0.094,0.715-0.168c0.131-0.057,0.227-0.283,0.227-2.124 v-0.601h-3.777v0.601c0,1.841,0.093,2.067,0.225,2.124c0.132,0.074,0.301,0.131,0.714,0.168c0.038,0.02,0.038,0.244,0.018,0.244 c-0.505,0-2.328,0-2.817,0c-0.019,0-0.038-0.225,0.019-0.244c0.414-0.037,0.582-0.094,0.716-0.168 c0.13-0.057,0.204-0.283,0.204-2.124v-1.466c0-1.842-0.074-2.066-0.204-2.123c-0.134-0.074-0.302-0.131-0.716-0.188 c-0.057,0-0.037-0.227-0.019-0.227c0.489,0,2.312,0,2.817,0c0.021,0,0.021,0.227-0.018,0.227 c-0.413,0.057-0.582,0.113-0.714,0.188c-0.132,0.057-0.225,0.281-0.225,2.123v0.451h3.777v-0.451c0-1.842-0.096-2.066-0.227-2.123 c-0.132-0.074-0.302-0.131-0.715-0.188c-0.038,0-0.038-0.227,0-0.227c0.487,0,2.312,0,2.8,0c0.038,0,0.038,0.227-0.019,0.227 c-0.395,0.057-0.582,0.113-0.713,0.188c-0.114,0.057-0.207,0.281-0.207,2.123v1.466c0,1.841,0.093,2.067,0.207,2.124 c0.131,0.074,0.318,0.131,0.713,0.168c0.057,0.02,0.057,0.244,0.019,0.244C113.356,26.651,111.531,26.651,111.044,26.651z"></path>
							<path d="M121.299,26.745c-1.991,0-3.476-1.465-3.476-3.287c0-1.729,1.484-3.439,3.607-3.439c1.992,0,3.476,1.467,3.476,3.289 C124.906,25.036,123.423,26.745,121.299,26.745z M121.223,20.433c-1.842,0-2.366,1.503-2.366,2.743 c0,1.634,0.976,3.157,2.647,3.157c1.843,0,2.368-1.504,2.368-2.744C123.872,21.954,122.896,20.433,121.223,20.433z"></path>
							<path d="M130.485,21.466c0,0.037-0.265,0.037-0.265-0.037c0-0.244-0.055-0.471-0.206-0.621c-0.168-0.188-0.543-0.338-1.277-0.338 c-0.412,0-0.789,0.02-0.902,0.037c-0.018,0.095-0.038,0.489-0.038,1.129v1.483h0.735c0.994,0,1.126-0.112,1.183-0.47 c0.019-0.037,0.263-0.019,0.263,0c-0.018,0.281-0.057,1.297-0.057,1.578c0,0.02-0.263,0.02-0.263-0.019 c0-0.188-0.036-0.395-0.149-0.489c-0.094-0.094-0.245-0.149-0.996-0.149h-0.716v0.545c0,1.841,0.096,2.067,0.227,2.124 c0.132,0.074,0.451,0.131,0.903,0.168c0.037,0.02,0.037,0.244,0.018,0.244c-0.508,0-2.518,0-3.007,0 c-0.036,0-0.036-0.225,0.021-0.244c0.395-0.037,0.581-0.094,0.712-0.168c0.113-0.057,0.208-0.283,0.208-2.124v-1.466 c0-1.842-0.095-2.123-0.208-2.18c-0.131-0.074-0.317-0.131-0.712-0.168c-0.057-0.02-0.057-0.189-0.021-0.189 c0.81,0.02,2.144,0.02,2.8,0.02c0.885,0,1.483-0.02,1.805-0.037c0.037-0.02,0.057,0.018,0.057,0.037 C130.579,20.47,130.542,20.921,130.485,21.466z"></path>
							<path d="M26.3,34.091c-0.778,0.08-1.275,0.139-1.516,0.279c-0.259,0.139-0.479,0.678-0.419,4.308l0.061,5.401 c0.039,3.488-0.778,5.023-4.247,6.639c-0.06,0.04-0.239-0.219-0.158-0.278c1.753-1.275,2.671-2.134,2.671-6.36v-5.401 c0-3.63-0.18-4.169-0.419-4.308c-0.239-0.141-0.758-0.199-1.536-0.279c-0.078-0.02-0.078-0.418-0.019-0.418 c0.938,0,4.666,0,5.603,0C26.379,33.673,26.398,34.071,26.3,34.091z"></path>
							<path d="M37.083,46.373c-0.1,0.118-0.698,0.238-1.536,0.238c-1.197,0-1.814-0.061-3.468-0.061c-1.297,0-2.255,0.021-3.669,0.039 c-0.06,0-0.06-0.397,0.02-0.417c0.777-0.08,1.235-0.141,1.475-0.278c0.24-0.141,0.42-0.679,0.42-4.307v-2.91 c0-3.63-0.18-4.169-0.42-4.308c-0.239-0.141-0.697-0.199-1.475-0.279c-0.079-0.02-0.079-0.418-0.02-0.418 c1.555,0.02,4.166,0.039,5.462,0.039c1.675,0,2.333-0.02,2.932-0.1c0.1,0,0.118,0.039,0.118,0.08 c-0.04,0.697-0.1,1.694-0.219,2.772c-0.021,0.079-0.438,0.058-0.438-0.062c0-0.479-0.159-1.017-0.459-1.355 c-0.419-0.418-0.898-0.598-2.035-0.598c-0.776,0-1.515,0-1.692,0.039c-0.061,0.199-0.081,0.938-0.081,2.193v2.83h1.635 c1.894,0,1.935-0.537,2.054-1.256c0.02-0.08,0.438-0.059,0.438,0c-0.019,0.54-0.08,3.031-0.1,3.59c0,0.06-0.439,0.06-0.439-0.021 c0-0.357-0.1-1.036-0.278-1.236c-0.18-0.178-0.279-0.298-1.695-0.298h-1.614v1.334c0,2.572,0.119,3.748,0.299,3.928 s0.797,0.26,1.974,0.26c1.237,0,1.695-0.299,2.055-0.678c0.239-0.26,0.479-0.838,0.658-1.595c0.019-0.1,0.438-0.021,0.438,0.079 C37.32,44.876,37.102,46.332,37.083,46.373z"></path>
							<path d="M43.621,46.851c-1.654,0-3.01-0.738-3.189-0.997c-0.02-0.04-0.22-2.114-0.118-3.13c0-0.099,0.438-0.12,0.458,0 c0.039,0.758,0.418,1.773,0.696,2.193c0.499,0.757,1.356,1.256,2.572,1.256c1.377,0,2.134-0.918,2.134-2.354 c0-3.149-5.243-3.309-5.243-6.938c0-1.895,1.534-3.529,3.629-3.529c1.514,0,1.734,0.479,2.591,0.379 c0.081-0.02,0.12,0.021,0.12,0.061c0,0.697,0.039,1.873,0,2.95c-0.021,0.061-0.439,0.061-0.458-0.04 c-0.061-0.797-0.24-1.494-0.619-1.934c-0.438-0.479-0.997-0.777-1.854-0.777c-1.078,0-1.894,0.938-1.894,2.172 c0,2.693,5.322,3.35,5.322,6.8C47.769,45.454,45.635,46.851,43.621,46.851z"></path>
							<path d="M62.283,34.43c-0.159,0.14-0.339,0.618-0.339,4.248v3.348c0,2.394-1.833,4.685-5.243,4.685 c-3.109,0-5.004-2.053-5.004-4.645v-3.388c0-3.63-0.18-4.169-0.419-4.308c-0.259-0.141-0.598-0.199-1.376-0.279 c-0.08-0.02-0.08-0.418-0.02-0.418c0.938,0,4.445,0,5.383,0c0.061,0,0.061,0.398-0.021,0.418c-0.775,0.08-1.195,0.139-1.455,0.279 c-0.239,0.139-0.417,0.678-0.417,4.308v3.028c0,2.193,1.375,4.008,4.007,4.008c2.452,0,3.668-1.854,3.668-3.787v-3.249 c0-3.63-0.2-4.108-0.359-4.248c-0.219-0.2-0.677-0.259-1.476-0.339c-0.08-0.02-0.06-0.418,0-0.418c0.938,0,3.53,0,4.466,0 c0.06,0,0.101,0.398,0,0.418C62.902,34.171,62.503,34.229,62.283,34.43z"></path>
							<path d="M68.944,46.851c-1.654,0-3.011-0.738-3.19-0.997c-0.019-0.04-0.22-2.114-0.12-3.13c0-0.099,0.439-0.12,0.46,0 c0.039,0.758,0.417,1.773,0.696,2.193c0.5,0.757,1.357,1.256,2.572,1.256c1.375,0,2.133-0.918,2.133-2.354 c0-3.149-5.242-3.309-5.242-6.938c0-1.895,1.535-3.529,3.629-3.529c1.514,0,1.734,0.479,2.592,0.379 c0.078-0.02,0.119,0.021,0.119,0.061c0,0.697,0.039,1.873,0,2.95c-0.02,0.061-0.439,0.061-0.459-0.04 c-0.061-0.797-0.238-1.494-0.617-1.934c-0.439-0.479-0.998-0.777-1.855-0.777c-1.076,0-1.893,0.938-1.893,2.172 c0,2.693,5.322,3.35,5.322,6.8C73.091,45.454,70.958,46.851,68.944,46.851z"></path>
							<path d="M92.626,45.933c-0.061,0.1-1.395,0.938-3.967,0.938c-4.246,0-6.939-2.971-6.939-6.578c0-3.41,2.453-6.898,6.898-6.898 c2.254,0,3.369,0.757,4.088,0.598c0.08-0.02,0.119,0.04,0.119,0.08c0.021,0.697,0.08,2.133,0.061,3.209 c-0.02,0.08-0.439,0.08-0.459-0.039c-0.08-0.818-0.338-1.496-0.818-2.014c-0.598-0.619-1.854-1.137-3.189-1.137 c-3.469,0-4.824,2.791-4.824,5.623c0,3.249,2.053,6.379,5.104,6.379c1.477,0,2.434-0.419,3.111-1.255 c0.418-0.52,0.656-1.118,0.836-1.716c0.02-0.119,0.439-0.019,0.439,0.061C93.024,44.02,92.665,45.874,92.626,45.933z"></path>
							<path d="M104.888,46.59c-0.061,0-0.061-0.417,0.019-0.417c0.778-0.08,1.118-0.159,1.378-0.278 c0.238-0.141,0.418-0.679,0.418-4.327v-1.217h-7.337v1.217c0,3.648,0.178,4.187,0.438,4.327c0.24,0.119,0.578,0.198,1.356,0.278 c0.079,0,0.079,0.417,0.019,0.417c-0.935,0-4.345,0-5.282,0c-0.059,0-0.059-0.417,0.021-0.417c0.778-0.08,1.135-0.159,1.374-0.278 c0.239-0.141,0.42-0.679,0.42-4.327v-2.89c0-3.649-0.181-4.169-0.42-4.308c-0.239-0.141-0.596-0.199-1.374-0.279 c-0.08-0.02-0.08-0.418-0.021-0.418c0.938,0,4.348,0,5.282,0c0.061,0,0.061,0.398-0.019,0.418 c-0.778,0.08-1.116,0.139-1.356,0.279c-0.26,0.139-0.438,0.658-0.438,4.308v0.936h7.337v-0.936c0-3.649-0.18-4.169-0.418-4.308 c-0.26-0.141-0.6-0.199-1.378-0.279c-0.079-0.02-0.079-0.418-0.019-0.418c0.938,0,4.345,0,5.283,0c0.06,0,0.06,0.398-0.021,0.418 c-0.777,0.08-1.117,0.139-1.376,0.279c-0.238,0.139-0.418,0.658-0.418,4.308v2.89c0,3.648,0.18,4.187,0.418,4.327 c0.259,0.119,0.599,0.198,1.376,0.278c0.08,0,0.08,0.417,0.021,0.417C109.232,46.59,105.825,46.59,104.888,46.59z"></path>
							<path d="M125.242,46.59c-1.736,0-2.671-0.198-3.449-0.716c-1.018-0.698-2.094-2.055-3.709-4.785 c-0.976,0.02-1.374,0.02-2.132-0.02v0.519c0,3.628,0.18,4.166,0.418,4.307c0.26,0.138,0.856,0.179,1.734,0.278 c0.079,0.02,0.079,0.417,0.02,0.417c-0.936,0-4.706,0-5.642,0c-0.06,0-0.08-0.397,0.02-0.417c0.777-0.08,1.118-0.141,1.355-0.278 c0.261-0.141,0.419-0.679,0.419-4.307v-2.91c0-3.63-0.158-4.169-0.419-4.308c-0.237-0.141-0.578-0.199-1.355-0.279 c-0.1-0.02-0.079-0.418-0.02-0.418c0.878,0,1.893,0.039,2.632,0.039c0.737,0,1.534-0.039,2.432-0.039 c2.971,0,4.466,1.654,4.466,3.17c0,1.595-0.998,2.871-2.393,3.728c2.831,4.226,4.426,5.583,5.763,5.583 c0.777,0,1.256-0.121,1.496-0.259c0.238-0.141,0.418-0.679,0.418-4.307v-2.91c0-3.63-0.18-4.169-0.418-4.308 c-0.24-0.141-0.759-0.199-1.537-0.279c-0.078-0.02-0.078-0.418-0.02-0.418c0.937,0,4.666,0,5.603,0 c0.079,0,0.079,0.398-0.021,0.418c-0.777,0.08-1.276,0.139-1.515,0.279c-0.259,0.139-0.419,0.678-0.419,4.308v2.91 c0,3.628,0.16,4.166,0.419,4.307c0.238,0.138,0.737,0.198,1.515,0.278c0.1,0.02,0.1,0.417,0.021,0.417 C129.987,46.59,126.2,46.59,125.242,46.59z M117.506,34.351c-0.678,0-1.274,0.1-1.335,0.18c-0.101,0.119-0.219,1.256-0.219,4.147 c0,1.194,0.039,1.413,0.118,1.494c0.141,0.141,0.697,0.22,1.655,0.22c1.635,0,2.393-1.235,2.393-2.791 C120.118,35.687,119.421,34.351,117.506,34.351z"></path>
							<path d="M136.583,46.851c-1.655,0-3.01-0.738-3.19-0.997c-0.019-0.04-0.218-2.114-0.119-3.13c0-0.099,0.44-0.12,0.46,0 c0.038,0.758,0.418,1.773,0.696,2.193c0.498,0.757,1.356,1.256,2.572,1.256c1.376,0,2.134-0.918,2.134-2.354 c0-3.149-5.242-3.309-5.242-6.938c0-1.895,1.535-3.529,3.626-3.529c1.517,0,1.734,0.479,2.593,0.379 c0.08-0.02,0.119,0.021,0.119,0.061c0,0.697,0.04,1.873,0,2.95c-0.02,0.061-0.438,0.061-0.457-0.04 c-0.061-0.797-0.24-1.494-0.619-1.934c-0.438-0.479-0.996-0.777-1.854-0.777c-1.077,0-1.896,0.938-1.896,2.172 c0,2.693,5.324,3.35,5.324,6.8C140.73,45.454,138.597,46.851,136.583,46.851z"></path>
							<path d="M153.969,36.882c-0.019,0.1-0.437,0.1-0.437-0.039c0-0.5-0.061-1.456-0.4-1.814c-0.399-0.42-1.215-0.758-2.969-0.758 c-0.459,0-0.699,0-0.899,0.039c-0.059,0.199-0.079,1.156-0.079,2.413v4.865c0,3.628,0.179,4.166,0.42,4.307 c0.237,0.138,0.738,0.198,1.534,0.278c0.081,0.02,0.081,0.417,0.021,0.417c-0.957,0-4.666,0-5.623,0 c-0.059,0-0.059-0.397,0.041-0.417c0.777-0.08,1.274-0.141,1.515-0.278c0.259-0.141,0.418-0.679,0.418-4.307v-4.865 c0-1.257-0.019-2.214-0.08-2.413c-0.198-0.039-0.536-0.039-0.995-0.039c-1.875,0-2.513,0.199-2.971,0.758 c-0.32,0.379-0.521,1.075-0.658,1.854c-0.02,0.14-0.44,0.08-0.44-0.039c0.122-1.037,0.241-2.553,0.301-3.23 c0-0.061,0.1-0.1,0.238-0.08c0.698,0.119,1.975,0.22,5.443,0.22c4.764,0,5.204-0.14,5.563-0.259c0.118-0.04,0.219,0.02,0.219,0.08 C154.13,34.33,154.089,35.825,153.969,36.882z"></path>
							<path d="M31.604,60.206c-1.991,0-3.476-1.464-3.476-3.287c0-1.729,1.484-3.439,3.606-3.439c1.991,0,3.478,1.467,3.478,3.289 C35.212,58.497,33.726,60.206,31.604,60.206z M31.527,53.894c-1.841,0-2.366,1.504-2.366,2.744c0,1.635,0.977,3.156,2.649,3.156 c1.841,0,2.368-1.503,2.368-2.743C34.179,55.414,33.2,53.894,31.527,53.894z"></path>
							<path d="M40.847,54.927c0,0.039-0.265,0.039-0.265-0.037c0-0.244-0.056-0.468-0.205-0.619c-0.169-0.189-0.546-0.34-1.278-0.34 c-0.412,0-0.79,0.02-0.902,0.04c-0.018,0.093-0.037,0.487-0.037,1.126v1.484h0.732c0.996,0,1.128-0.113,1.184-0.471 c0.019-0.037,0.264-0.018,0.264,0c-0.02,0.283-0.057,1.297-0.057,1.578c0,0.02-0.263,0.02-0.263-0.018 c0-0.188-0.037-0.395-0.149-0.488c-0.095-0.094-0.245-0.15-0.997-0.15h-0.714v0.545c0,1.842,0.094,2.065,0.226,2.123 c0.132,0.074,0.45,0.131,0.901,0.168c0.038,0.02,0.038,0.244,0.02,0.244c-0.507,0-2.519,0-3.006,0 c-0.038,0-0.038-0.225,0.019-0.244c0.395-0.037,0.581-0.094,0.713-0.168c0.114-0.058,0.207-0.281,0.207-2.123V56.11 c0-1.84-0.093-2.123-0.207-2.18c-0.132-0.074-0.318-0.131-0.713-0.168c-0.057-0.02-0.057-0.187-0.019-0.187 c0.808,0.017,2.141,0.017,2.799,0.017c0.884,0,1.483-0.017,1.804-0.037c0.037-0.02,0.057,0.021,0.057,0.037 C40.939,53.931,40.902,54.382,40.847,54.927z"></path>
							<path d="M49.709,59.944c-0.075,0.113-0.188,0.188-0.451,0.188c-0.639,0-1.391-0.037-2.255-0.037c-0.677,0-1.164,0-1.917,0.018 c-0.019,0-0.019-0.225,0.019-0.244c0.414-0.037,0.584-0.094,0.714-0.168c0.132-0.058,0.208-0.281,0.208-2.123V56.11 c0-1.84-0.076-2.066-0.208-2.123c-0.13-0.073-0.3-0.131-0.714-0.188c-0.037,0-0.037-0.224-0.019-0.224c0.489,0,2.33,0,2.818,0 c0.019,0,0.019,0.224-0.018,0.224c-0.414,0.057-0.584,0.114-0.715,0.188c-0.131,0.057-0.207,0.283-0.207,2.123v1.467 c0,1.222,0.094,1.783,0.226,1.936c0.112,0.111,0.263,0.188,0.865,0.188c0.582,0,0.977-0.15,1.221-0.434 c0.226-0.262,0.394-0.695,0.471-1.014c0.019-0.057,0.262-0.019,0.262,0.038C49.952,58.817,49.802,59.794,49.709,59.944z"></path>
							<path d="M54.668,60.112c-0.019,0-0.036-0.225,0-0.244c0.319-0.018,0.527-0.094,0.527-0.244c0-0.168-0.133-0.506-0.733-1.936 c0.019,0-2.049,0-2.067,0c-0.487,1.279-0.601,1.654-0.601,1.879c0,0.17,0.149,0.264,0.582,0.301c0.057,0.02,0.037,0.244,0,0.244 c-0.3,0-1.691,0-2.18,0c-0.036,0-0.036-0.225,0-0.244c0.319-0.018,0.507-0.074,0.658-0.188c0.207-0.149,0.45-0.525,1.033-2.104 l0.563-1.467c0.32-0.846,0.658-1.729,0.922-2.518c0.019-0.073,0.431-0.073,0.47,0c0.299,0.883,0.581,1.598,0.938,2.518 l0.584,1.467c0.789,1.897,0.902,2.011,1.089,2.123c0.188,0.111,0.339,0.15,0.639,0.168c0.038,0.02,0.021,0.244,0,0.244 C56.604,60.112,55.156,60.112,54.668,60.112z M53.428,54.927l-0.846,2.293h1.711L53.428,54.927z"></path>
							<path d="M62.783,55.04c0,0.02-0.244,0.02-0.244-0.02c0-0.261-0.057-0.525-0.188-0.676c-0.207-0.188-0.489-0.338-1.616-0.338 c-0.226,0-0.356,0.018-0.451,0.018c-0.038,0.113-0.057,0.508-0.057,1.146v2.406c0,1.842,0.095,2.065,0.226,2.123 c0.131,0.074,0.395,0.131,0.81,0.168c0.036,0.02,0.036,0.244,0,0.244c-0.489,0-2.48,0-2.97,0c-0.038,0-0.038-0.225,0-0.244 c0.412-0.037,0.677-0.094,0.808-0.168c0.131-0.058,0.207-0.281,0.207-2.123v-2.406c0-0.639,0-1.033-0.038-1.146 c-0.093,0-0.281-0.018-0.508-0.018c-1.07,0-1.371,0.112-1.614,0.338c-0.17,0.15-0.264,0.451-0.32,0.695 c0,0.037-0.243,0-0.243-0.037c0.056-0.508,0.112-1.109,0.148-1.467c0-0.017,0.021-0.037,0.057-0.037 c0.376,0.057,1.184,0.113,2.987,0.113c2.48,0,2.857-0.057,3.045-0.133c0.038,0,0.057,0.02,0.057,0.04 C62.878,53.914,62.859,54.495,62.783,55.04z"></path>
							<path d="M69.753,55.04c0,0.02-0.244,0.02-0.244-0.02c0-0.261-0.057-0.525-0.188-0.676c-0.207-0.188-0.49-0.338-1.617-0.338 c-0.225,0-0.357,0.018-0.451,0.018c-0.037,0.113-0.057,0.508-0.057,1.146v2.406c0,1.842,0.096,2.065,0.227,2.123 c0.131,0.074,0.395,0.131,0.809,0.168c0.037,0.02,0.037,0.244,0,0.244c-0.49,0-2.481,0-2.969,0c-0.038,0-0.038-0.225,0-0.244 c0.413-0.037,0.675-0.094,0.808-0.168c0.131-0.058,0.205-0.281,0.205-2.123v-2.406c0-0.639,0-1.033-0.036-1.146 c-0.095,0-0.282-0.018-0.508-0.018c-1.071,0-1.371,0.112-1.616,0.338c-0.169,0.15-0.263,0.451-0.318,0.695 c0,0.037-0.245,0-0.245-0.037c0.058-0.508,0.112-1.109,0.15-1.467c0-0.017,0.019-0.037,0.057-0.037 c0.376,0.057,1.184,0.113,2.988,0.113c2.48,0,2.855-0.057,3.043-0.133c0.037,0,0.057,0.02,0.057,0.04 C69.847,53.914,69.827,54.495,69.753,55.04z"></path>
							<path d="M75.274,59.944c-0.074,0.113-0.131,0.188-0.395,0.188c-0.639,0-1.391-0.037-2.254-0.037c-0.678,0-1.09,0-1.822,0.018 c-0.039,0-0.039-0.225,0-0.244c0.412-0.037,0.6-0.094,0.713-0.168c0.131-0.058,0.227-0.281,0.227-2.123V56.11 c0-1.84-0.096-2.066-0.227-2.123c-0.113-0.073-0.301-0.131-0.713-0.188c-0.039,0-0.039-0.224,0-0.224 c0.807,0.017,2.084,0.017,2.762,0.017c0.863,0,1.352-0.017,1.652-0.037c0.057-0.02,0.076,0.021,0.076,0.037 c-0.039,0.338-0.057,0.829-0.113,1.354c-0.02,0.057-0.264,0.037-0.264-0.02c0-0.262-0.057-0.505-0.205-0.676 c-0.17-0.17-0.471-0.264-1.203-0.264c-0.414,0-0.695,0.02-0.809,0.02c-0.037,0.112-0.037,0.451-0.037,1.09v1.408h0.77 c0.996,0,1.127-0.225,1.184-0.582c0.02-0.037,0.264-0.037,0.264,0c-0.02,0.283-0.057,1.484-0.057,1.748 c0,0.037-0.264,0.037-0.264,0c0-0.188-0.037-0.451-0.148-0.545c-0.094-0.075-0.246-0.188-0.996-0.188h-0.752v0.639 c0,1.222,0.094,1.783,0.225,1.936c0.133,0.111,0.264,0.188,0.885,0.188c0.639,0,0.994-0.15,1.184-0.357 c0.15-0.149,0.262-0.357,0.338-0.695c0.018-0.057,0.205,0,0.188,0.038C75.444,59.212,75.351,59.794,75.274,59.944z"></path>
							<path d="M83.335,60.095c-0.639,0-1.164-0.076-1.559-0.357c-0.545-0.338-1.109-0.995-1.936-2.367c-0.508,0.019-0.678,0-1.072-0.02 v0.227c0,1.842,0.096,2.065,0.227,2.123c0.131,0.074,0.451,0.131,0.902,0.168c0.037,0.02,0.037,0.244,0.018,0.244 c-0.488,0-2.518,0-3.006,0c-0.037,0-0.037-0.225,0.02-0.244c0.395-0.037,0.582-0.094,0.713-0.168 c0.113-0.058,0.207-0.281,0.207-2.123V56.11c0-1.84-0.094-2.066-0.207-2.123c-0.131-0.073-0.318-0.131-0.713-0.188 c-0.057,0-0.057-0.224-0.02-0.224c0.469,0,1.016,0.017,1.41,0.017c0.375,0,0.787-0.017,1.258-0.017 c1.561,0,2.443,0.825,2.443,1.651c0,0.809-0.602,1.465-1.334,1.898c1.391,2.009,2.141,2.686,2.949,2.686c0.094,0,0.225,0,0.301,0 c0.037-0.018,0.074,0.228,0.057,0.228C83.767,60.075,83.579,60.095,83.335,60.095z M79.558,53.95 c-0.355,0-0.582,0.057-0.619,0.131c-0.074,0.076-0.17,0.695-0.17,2.029c0,0.602,0.039,0.678,0.096,0.734 c0.111,0.094,0.318,0.168,0.807,0.168c0.771,0,1.297-0.676,1.297-1.447C80.968,54.665,80.554,53.95,79.558,53.95z"></path>
							<path d="M87.11,56.994c-0.039,0.057-0.113,0.075-0.244,0.075l-1.26,0.02c-1.203,0-1.447,0.168-1.559,0.432 c-0.02,0.037-0.244-0.019-0.244-0.057c0.018-0.227,0.055-0.695,0.094-0.902l1.541-0.018c1.201,0,1.391-0.189,1.539-0.434 c0.02-0.037,0.227,0.02,0.227,0.039C87.185,56.374,87.147,56.938,87.11,56.994z"></path>
							<path d="M94.249,59.118c-0.715,0.693-1.504,0.994-2.818,0.994c-0.471,0-1.203-0.018-1.598-0.018c-0.375,0-0.939,0.018-1.391,0.018 c-0.037,0-0.037-0.225,0-0.244c0.414-0.037,0.582-0.094,0.715-0.168c0.131-0.058,0.225-0.281,0.225-2.123V56.11 c0-1.84-0.094-2.066-0.225-2.123c-0.133-0.073-0.301-0.131-0.715-0.188c-0.037,0-0.037-0.224,0-0.224 c0.451,0,1.016,0.017,1.391,0.017c0.395,0,1.354-0.017,1.805-0.017c2.103,0,3.681,1.37,3.681,3.192 C95.318,57.634,94.888,58.497,94.249,59.118z M91.337,53.95c-0.639,0-0.809,0.094-0.883,0.188 c-0.057,0.076-0.152,0.545-0.152,1.936v1.504c0,1.222,0.096,1.746,0.227,1.897c0.188,0.187,0.338,0.243,0.883,0.243 c2.029,0,2.895-0.883,2.895-2.779C94.306,55.397,93.31,53.95,91.337,53.95z"></path>
							<path d="M99.941,60.112c-0.018,0-0.036-0.225,0-0.244c0.32-0.018,0.528-0.094,0.528-0.244c0-0.168-0.134-0.506-0.735-1.936 c0.02,0-2.046,0-2.065,0c-0.488,1.279-0.603,1.654-0.603,1.879c0,0.17,0.151,0.264,0.585,0.301c0.055,0.02,0.037,0.244,0,0.244 c-0.301,0-1.691,0-2.18,0c-0.04,0-0.04-0.225,0-0.244c0.318-0.018,0.506-0.074,0.656-0.188c0.207-0.149,0.451-0.525,1.035-2.104 l0.562-1.467c0.32-0.846,0.658-1.729,0.919-2.518c0.021-0.073,0.434-0.073,0.472,0c0.3,0.883,0.582,1.598,0.938,2.518l0.583,1.467 c0.788,1.897,0.902,2.011,1.09,2.123c0.187,0.111,0.338,0.15,0.638,0.168c0.038,0.02,0.021,0.244,0,0.244 C101.878,60.112,100.431,60.112,99.941,60.112z M98.701,54.927l-0.846,2.293h1.712L98.701,54.927z"></path>
							<path d="M107.605,53.914c-0.264,0.13-0.468,0.411-0.996,1.257l-0.562,0.902c-0.243,0.375-0.487,0.789-0.714,1.164v0.34 c0,1.842,0.093,2.065,0.206,2.123c0.132,0.074,0.395,0.131,0.81,0.168c0.036,0.02,0.036,0.244,0,0.244c-0.488,0-2.48,0-2.969,0 c-0.04,0-0.04-0.225,0-0.244c0.411-0.037,0.676-0.094,0.806-0.168c0.134-0.058,0.207-0.281,0.207-2.123v-0.301 c-0.224-0.395-0.451-0.771-0.731-1.203l-0.582-0.902c-0.658-1.014-0.829-1.2-1.016-1.257c-0.17-0.077-0.375-0.095-0.676-0.114 c-0.037,0-0.037-0.244,0-0.244c0.487,0,2.009,0,2.497,0c0.04,0,0.057,0.244,0,0.244c-0.224,0.02-0.338,0.037-0.432,0.094 c-0.073,0.037-0.036,0.188,0.619,1.184l1.016,1.672l1.053-1.652c0.546-0.865,0.639-1.09,0.489-1.183 c-0.095-0.058-0.227-0.095-0.508-0.114c-0.038,0-0.021-0.244,0-0.244c0.319,0,1.71,0,2.199,0c0.036,0,0.036,0.244,0,0.244 C108.02,53.819,107.757,53.856,107.605,53.914z"></path>
							<path d="M113.481,60.206c-0.978,0-1.653-0.488-1.672-0.6c-0.074-0.34-0.074-0.921-0.02-1.447c0-0.037,0.244-0.057,0.244,0 c0.039,0.395,0.188,0.752,0.339,0.976c0.299,0.396,0.695,0.677,1.296,0.677c0.751,0,1.129-0.488,1.129-1.185 c0-1.483-2.764-1.745-2.764-3.416c0-1.036,0.978-1.769,1.935-1.769c0.789,0,0.997,0.283,1.374,0.19 c0.036-0.021,0.074,0.017,0.074,0.036c-0.02,0.355,0,0.863-0.02,1.408c0,0.037-0.245,0.037-0.262,0 c-0.02-0.317-0.17-0.712-0.338-0.883c-0.227-0.224-0.603-0.357-0.922-0.357c-0.583,0-1.014,0.395-1.014,1.016 c0,1.258,2.854,1.747,2.854,3.4C115.717,59.513,114.533,60.206,113.481,60.206z"></path>
							<path d="M120.489,60.112c-0.02,0-0.038-0.225,0-0.244c0.317-0.018,0.524-0.094,0.524-0.244c0-0.168-0.13-0.506-0.732-1.936 c0.021,0-2.048,0-2.065,0c-0.489,1.279-0.603,1.654-0.603,1.879c0,0.17,0.151,0.264,0.582,0.301c0.057,0.02,0.038,0.244,0,0.244 c-0.3,0-1.691,0-2.179,0c-0.038,0-0.038-0.225,0-0.244c0.319-0.018,0.508-0.074,0.657-0.188c0.207-0.149,0.451-0.525,1.034-2.104 l0.564-1.467c0.317-0.846,0.655-1.729,0.92-2.518c0.019-0.073,0.432-0.073,0.469,0c0.3,0.883,0.584,1.598,0.94,2.518l0.582,1.467 c0.789,1.897,0.902,2.011,1.091,2.123c0.188,0.111,0.338,0.15,0.639,0.168c0.036,0.02,0.018,0.244,0,0.244 C122.424,60.112,120.978,60.112,120.489,60.112z M119.248,54.927l-0.846,2.293h1.711L119.248,54.927z"></path>
							<path d="M123.061,60.112c-0.019,0-0.019-0.225,0.019-0.244c0.414-0.037,0.678-0.094,0.789-0.168 c0.133-0.058,0.227-0.281,0.227-2.123V56.11c0-1.84-0.094-2.066-0.227-2.123c-0.111-0.073-0.375-0.131-0.789-0.188 c-0.037,0-0.037-0.224-0.019-0.224c0.489,0,2.499,0,2.986,0c0.021,0,0.021,0.224-0.017,0.224 c-0.414,0.057-0.679,0.114-0.789,0.188c-0.133,0.057-0.228,0.283-0.228,2.123v1.467c0,1.842,0.095,2.065,0.228,2.123 c0.11,0.074,0.375,0.131,0.789,0.168c0.037,0.02,0.037,0.244,0.017,0.244C125.56,60.112,123.55,60.112,123.061,60.112z"></path>
							<path d="M133.903,54.007c-0.096,0.074-0.207,0.264-0.189,2.104v1.467c0,0.846,0,1.746,0.057,2.535c0,0.057-0.318,0.076-0.375,0.02 l-4.979-5.035l0.037,2.48c0.018,1.689,0.151,2.011,0.301,2.123c0.094,0.074,0.449,0.168,0.732,0.168c0.057,0,0.038,0.244,0,0.244 c-0.526,0-2.029,0-2.517,0c-0.039,0-0.039-0.225,0-0.244c0.412-0.037,0.655-0.094,0.769-0.188c0.095-0.074,0.207-0.262,0.17-2.104 l-0.02-1.467c0-0.846,0-1.745-0.056-2.534c0-0.057,0.356-0.077,0.377-0.021l4.996,5.071l-0.038-2.517 c-0.018-1.84-0.167-2.047-0.28-2.123c-0.132-0.094-0.375-0.15-0.809-0.188c-0.056,0-0.037-0.224,0-0.224c0.488,0,2.049,0,2.537,0 c0.037,0,0.057,0.224,0,0.224C134.202,53.856,134.014,53.914,133.903,54.007z"></path>
							<path d="M141.38,55.04c0,0.02-0.244,0.02-0.244-0.02c0-0.261-0.057-0.525-0.19-0.676c-0.204-0.188-0.487-0.338-1.614-0.338 c-0.225,0-0.358,0.018-0.451,0.018c-0.037,0.113-0.057,0.508-0.057,1.146v2.406c0,1.842,0.093,2.065,0.227,2.123 c0.13,0.074,0.395,0.131,0.807,0.168c0.039,0.02,0.039,0.244,0,0.244c-0.489,0-2.481,0-2.97,0c-0.036,0-0.036-0.225,0-0.244 c0.415-0.037,0.678-0.094,0.81-0.168c0.13-0.058,0.206-0.281,0.206-2.123v-2.406c0-0.639,0-1.033-0.036-1.146 c-0.094,0-0.283-0.018-0.508-0.018c-1.07,0-1.372,0.112-1.615,0.338c-0.17,0.15-0.265,0.451-0.321,0.695 c0,0.037-0.243,0-0.243-0.037c0.057-0.508,0.113-1.109,0.15-1.467c0-0.017,0.02-0.037,0.057-0.037 c0.374,0.057,1.184,0.113,2.986,0.113c2.48,0,2.856-0.057,3.045-0.133c0.036,0,0.057,0.02,0.057,0.04 C141.474,53.914,141.453,54.495,141.38,55.04z"></path>
							<path d="M143.819,60.206c-0.977,0-1.652-0.488-1.673-0.6c-0.075-0.34-0.075-0.921-0.019-1.447c0-0.037,0.243-0.057,0.243,0 c0.04,0.395,0.19,0.752,0.341,0.976c0.301,0.396,0.693,0.677,1.294,0.677c0.753,0,1.129-0.488,1.129-1.185 c0-1.483-2.764-1.745-2.764-3.416c0-1.036,0.979-1.769,1.937-1.769c0.789,0,0.995,0.283,1.37,0.19 c0.04-0.021,0.076,0.017,0.076,0.036c-0.017,0.355,0,0.863-0.017,1.408c0,0.037-0.246,0.037-0.265,0 c-0.019-0.317-0.17-0.712-0.338-0.883c-0.227-0.224-0.601-0.357-0.921-0.357c-0.582,0-1.014,0.395-1.014,1.016 c0,1.258,2.855,1.747,2.855,3.4C146.056,59.513,144.872,60.206,143.819,60.206z"></path>
						</g>
					</svg>
				</a>
			</div>
		</div>
		<h1>Request Data (<a href="?format=json">json</a>)</h1>
		<table id="data" class="display compact">
			<thead><tr><th>Type</th><th>Name</th><th>Value</th></tr></thead>
			<tbody>
			<% Object.keys(reply.headers).forEach(function(prop) {
				%><tr><td>header</td><td><%= prop %></td><td><%= reply.headers[prop] %></td></tr>
			<% });
			Object.keys(reply.otherheaders).forEach(function(prop) {
				%><tr><td>header</td><td><%= prop %></td><td><%= reply.otherheaders[prop] %></td></tr>
			<% });
			Object.keys(reply.info).forEach(function(prop) {
				%><tr><td>info</td><td><%= prop %></td><td><%= reply.info[prop] %></td></tr>
			<% });
			var re = new RegExp(reply.links.self, "g");
			var links = (JSON.parse(JSON.stringify(reply.links).replace(re, reply.info.path)));
			Object.keys(links).forEach(function(prop) {
				%><tr><td>links</td><td><%= prop %></td><td><a href="<%= links[prop] %>"><%= links[prop] %></a></td></tr>
			<% });
			Object.keys(reply.cookies).forEach(function(prop) {
				%><tr><td>cookie</td><td><%= prop %></td><td><%= reply.cookies[prop] %></td></tr>
			<% });
			%></tbody>
			<tfoot><tr><th>Type</th><th>Name</th><th>Value</th></tr></tfoot>
		</table>
		<p class="center">This page displays the details of the web request including headers and cookies sent to the application. This is used for testing. The format of this page may change.</p>
	</body>
</html>
